# Scons files
SConstruct
SConscript
# Temporary files
temp
# VSCode
.vscode
# MacOS
.DS_Store
# Temp files
tmp/
# Output files
output/
# Python cache files
__pycache__/
# Build files
build/
# Cache
.cache/
