[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "third_party/jerryscript"]
	path = third_party/jerryscript
	url = https://github.com/jerryscript-project/jerryscript.git
[submodule "third_party/RemixIcon"]
	path = third_party/RemixIcon
	url = https://github.com/Sab1e-dev/RemixIcon.git
